<h1>User Filters</h1>
<div>
  <a href="https://github.com/ng-select/ng-select">Source</a> | 
  <a href="https://ng-select.github.io/ng-select/">Docs</a>
</div>
<ng-select [items]="users$" bindLabel="name" bindValue="" [(ngModel)]="selectedUser" [searchFn]="searchPerson">
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="search-result">
            <div>{{item.name}}</div>
            <div>{{item.phone}}</div>
        </div>
    </ng-template>
</ng-select>
<pre>{{selectedUser | json}}</pre>


