.search-result {
    padding: 10px 15px;
    font-size: small;
    line-height: initial;

    :first-child {
        font-size: large;
        font-weight: bold;
        line-height: initial;
    }
}